// =======VARIABLES========
$primary: hsl(184, 100%, 50%);
$secondary: hsl(219, 18%, 15%);
$white: hsl(0, 0%, 100%);
$light: hsl(0, 0%, 96%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 80%);
$bg:  hsl(219, 17%, 24%);
