

.repo{
  width: 100%;
  gap:1rem;
  background-color: antiquewhite;


  h1{
    text-align: center;
  }

  .card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
   

    .box{
    background-color: rgb(240, 240, 240);
    width: 350px;
    height: 250px;
    border-radius: .5rem;
    }

   .details{
    display: flex;
    justify-content: space-around;
   }
  }

}